@import url("https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto", sans-serif;
  body {
    background-color: #f7f7f7;
  }
}
// -----componentes-------
.componentes {
  display: flex;
  height: 37.5rem;

  img {
    width: 96%;
    margin: 2%;
    height: auto;
    position: absolute;
    border-radius: 20px;
  }
  .container-text {
    position: relative;
    width: 40%;
    left: 50vw;
    top: 26vh;
    color: white;
  }
  h1 {
    text-align: left;
    margin-bottom: 6%;
  }
  p {
    font-size: 1.2rem;
  }
}
// -------------------------------------------------

// CARROUSEL CARDS

.card-group {
  margin-top: 5%;
  margin-bottom: 4%;
  .card {
    display: flex;
    margin: 30px 40px 10px 40px;
    border-radius: 10px !important;
  }
  img {
    max-height: 190px;
    width: 160px;
    margin: auto;
    margin-top: 30px;
  }
  a {
    margin: 2rem;
  }
  .carousel-indicators {
    margin: 10% !important;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 2%;
}
// --------------------------

h1 {
  text-align: center;
}
.container-sub-title {
  margin-bottom: 2vw;
}

// -------------General (Punto 2)-------
.general {
  width: 96%;
  background-color: #c9c5c2;
  margin: 2%;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 0.375rem;

  img {
    display: block;
    width: 40vw;
    height: auto;
    margin: 40px;
  }
  div {
    margin-left: 4%;
    margin-top: 2%;
  }
  h1 {
    margin: 0;
    font-size: 3rem;
  }
  p {
    margin: 5%;
    text-align: center;
  }
}
// -------------------------------------------

// ----------------NAVBAR-------------------
.navbar {
  background-color: #c9c5c2 !important;
  font-weight: bold;
  .logo {
    width: 40px;
  }
  .li-logo {
    padding-top: 5px;
  }
  input {
    padding: 0.375rem 20rem;
    text-align: center;
  }
  .navbar-collapse {
    margin: auto;
    text-align: center;
  }
  #basic-navbar-nav {
    justify-content: center !important;
  }
  .carrito {
    width: 25px;
  }
  a {
    padding: 2px;
  }

  .li-categoria:hover {
    border-bottom: 2px solid black;
  }
}
.categoria {
  border-bottom: 10px solid black;
}

.w-100 {
  height: 79.3vh;
}

// -----------------ACORDEON---------------------
.acordeon {
  display: flex;
  background-color: #c9c5c2;
  width: 96%;
  height: 80vh;
  flex-direction: column;
  margin: 2%;
  margin-top: 4%;
  justify-content: center;
  border-radius: 20px;
  div h1 {
    margin-top: 5%;
  }
  button {
    font-weight: bold;
  }
  .accordion {
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
  }
  .acordeon div {
    justify-content: center;
    margin: auto;
  }

  .acordeon-t {
    text-align: center;
  }
}

// -------------------FORMULARIO------------------------
.formulario {
  width: 96%;
  background-color: #c9c5c2;
  margin: 2%;
  height: 75vh;
  border-radius: 20px;
  padding-top: 40px;
  .form {
    width: 50%;
    margin: auto;
    color: #c9c5c2;
  }
  label {
    color: black;
    font-size: 1.4rem;
    margin-top: 10px;
  }
  div button {
    margin: auto;
    display: flex;
  }
  button {
    background-color: black;
    border: 0;
    color: white;
    margin-bottom: 20px;
    width: 20%;
    justify-content: center;
  }
  button:hover {
    background-color: black;
  }
}

// -------------FOOOTER----------------

.container-footer {
  height: 12vh;
  display: flex;
  align-self: flex-end;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid rgba(0, 0, 0, 0.175);
  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
}
