@import url("https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  body {
    background-color: #c9c5c2;
    overflow-x: hidden;
  }
}
// -----componentes-------
.componentes {
  margin: 2%;
  display: flex;
  height: 37.5rem;
  img {
    height: auto;
    width: 100%;
    min-width: 950px;
  }
  .container-text {
    z-index: 423;
    position: absolute;
    width: 40%;
    left: 50vw;
    margin-top: 10vw;
    color: white;
  }
  h1 {
    text-align: left;
    margin-bottom: 6%;
  }
  p {
    font-size: 1.2rem;
  }
}
// -------------------------------------------------

// CARROUSEL CARDS

.card-group {
  margin-top: 5%;
  margin-bottom: 4%;
  justify-content: center;

  .card {
    display: flex;
    margin: 30px 30px 10px 30px;
    border-radius: 10px !important;
    box-shadow: 0 20px 60px 0 rgb(0 0 0 / 15%) !important;
  }
  img {
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 190px;
    max-height: 240px;
    margin-top: 30px;
  }
  a {
    margin: 2rem;
  }
  .carousel-indicators {
    margin: 10% !important;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 2%;
}
// --------------------------

h1 {
  text-align: center;
}
.container-sub-title {
  margin-bottom: 2vw;
}

// -------------General (Punto 2)-------
.general {
  margin: 2%;
  background-color: rgb(23, 23, 23);
  display: flex;
  align-items: center;
  line-height: 1.6;
  color: #dfd3c3;

  .general-img {
    width: 40vw;
    display: block;
    height: 80vh;
  }
  div {
    margin-top: 2%;
  }
  h1 {
    margin: 0;
    font-size: 4rem;
  }
  p {
    margin: 5%;
    font-size: 1.418vw;
    text-align: center;
  }
}
// -------------------------------------------
nav {
  box-shadow: 0px !important;

}
.btn{
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%)!important;
}
// ----------------NAVBAR-------------------
.navbar {

  justify-content: space-evenly !important;
  background-color: white !important;
  font-weight: bold;
  box-shadow: none !important;
  margin-left: 0 !important;
  .navbar-collapse {

    justify-content: space-evenly;
  }
  .container {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    max-width: none !important;
  }
  .d-flex {
    justify-content: center;
  }
  .logo {
    width: 40px;
  }
  .li-logo {
    padding-top: 5px;
  }
  .carrito-button{
    background-color: white!important;
    border: none!important;
    box-shadow: 0px!important;
    padding: 0;
    box-shadow: 0px!important;

  }
  .badge{
    font-size: 1rem;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%)!important;
    border: 0px!important;
    color: red!important;
    background-color: white!important;
    z-index: 9;
    padding: 0;
  }
  input {
    width: 80vw;
    padding: 0.2rem;
    margin-right: 0 !important;
    text-align: center;
  }
  .navbar-collapse {
    margin: auto;
    text-align: center;
  }
  #basic-navbar-nav {
    justify-content: center !important;
  }
  .carrito {
    width: 25px;
  }
  .li-categoria {
    position: relative;
    border-bottom: 3px solid transparent;
  }
.login{
  margin-left: 7px;
padding: 0!important;
}
  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav-link {
    color: var(--bs-nav-link-color) !important;
  }
  .li-categoria:hover {
    border-bottom: 3px solid black;
  }
}
.categoria {
  box-shadow: 0px !important;
}
.img {
  width: 100%;
  max-height: 83vh !important;
  height: auto;
}
.accordion-button {
  background-color: #f7f7f7 !important;
}

// -----------------ACORDEON---------------------
.accordion {
  margin: 3% !important;
}
.acordeon {
  div h1 {
    margin-top: 5%;
  }
  margin-bottom: 2rem !important;

  .accordion-button:focus {
    box-shadow: 0 !important;
    color: #000 !important;
  }
  button {
    background-color: #f7f7f7 !important;

    font-weight: bold;
  }
  .accordion {
    justify-content: center;
    margin: auto;
    margin-top: 3%;
  }
  .acordeon div {
    justify-content: center;
    margin: auto;
  }

  .acordeon-t {
    text-align: center;
  }
  h1 {
    color: #000;
    margin-bottom: 30px;
    margin-top: 0;
  }
  a {
    color: currentColor;
    transition: 0.2s ease-in-out;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0.3em 0;
  }
  .accordion-button:focus {
    z-index: 3;
    border-color: black !important;
    outline: 0;
    box-shadow: black !important;
  }
}
.faq {
  max-width: 90%;
  margin: auto;
  margin-top: 5%;
  padding: 1%;
  text-align: center;
}

section.faq {
  padding-top: 4em;
  padding-bottom: 5em;
}
.accordion-body {
  font-size: 1.4rem;
}

.accordion-button:not(.collapsed) {
  color: black !important;
}

.accordion-button:focus {
  box-shadow: black !important;
}
// -------------------FORMULARIO------------------------
.form {
  display: flex;
  padding: 2%;
  .div-form {
    background-color: white;
    width: 50% !important;
  }
  .form {
    margin: auto;
    color: #c9c5c2;
  }
  label {
    margin-left: 5.3rem;
    color: black;
    font-size: 1.4rem;
    margin-top: 10px;
  }
  .login {
    display: flex;
    justify-content: center;
  }
  h1 {
    padding-bottom: 20px;
  }

  button {
    background-color: rgb(23, 23, 23);
    border: 0;
    color: white;
    justify-content: center;
    margin: 2%;
    border-radius: 50px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    &:hover {
      background-color: white;
    }
  }

  p {
    font-size: 1.5rem;
  }
  img {
    width: 50%;
  }
  .container-h1 {
    padding-top: 2rem;
  }
  input {
    width: 60%;
    margin: auto;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 10%) !important;
  }
  a {
    color: black;
    text-decoration: underline;
  }
}
.center {
  justify-content: center;
}
.sesion {
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #c9c5c2;
  border-radius: 20px;

  label {
    margin-left: 20%;
  }
}
.margin {
  margin-bottom: 4%;
}
.session-h1 {
  margin-bottom: 3rem;
}
.session-btn {
  width: 60%;
  font-size: 1.3rem;
}

// -------------FOOOTER----------------

.container-footer {
  background-color: white;
  height: 12vh;
  display: flex;
  align-self: flex-end;
  list-style: none;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
}
.fav-button{

  border: none;
background-color: transparent;
  position: absolute;
  left: 78%;
  top: 3%;
  width: 20px;
}
@media (max-width: 800px) {
  .componentes {
    display: none;
  }
  .general {
    img {
      display: none !important;
    }
    p {
      font-size: 1.3rem;
    }
  }
  .form {
    .div-form {
      width: 100% !important;
    }
    img {
      display: none;
    }
  }
}
@media (max-width: 800px) {
  .acordeon {
    display: none;
  }
}
